.Sidebar {
	background-color: #FFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	height: 93vh;
	position: fixed;
	z-index: 10;
	padding: 2rem;
}
.navbar {
	height: 7vh;
	margin-bottom: 0px !important;
}
.navbar > .container {
	width: auto;
	margin: 0;
	padding: 0;
}
.navbar > .container > .navbar-collapse {
	margin: 0 -15px;
}
.navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-default {
	background: transparent;
	border: 0px solid transparent;
}
.navbar-collapse {
	padding-bottom: 20px;
}
.navbar-static-top .navbar-collapse {
	height: calc(100vh - 20px) !important;
}
.sidebarSelected table {
	border-collapse: collapse;
}
.sidebarSelected td, .sidebarSelected th {
	padding: 5px;
    text-align:left;
}
.sidebarSelected td + td, .sidebarSelected th + th {
	padding: 5px;
    text-align:right;
}
.sidebarSelected .hide-hr {
	border: 0px;
}
.sidebarSelected tr {
	box-shadow: 0px 7px 10px -7px rgba(0, 0, 0, 0.15);
}
.sidebarSelected td {
	padding: 5px;
}
.sidebarTotalCost {
	text-align: right;
	font-weight: bold;
	padding: 5px;
}
